<div>
    <h1>Tab1</h1>
    <div class="row">
      <div class="col-md-6" ng-include="'partials/comp/1.html'">
      </div>
      <div class="col-md-6" ng-include="'partials/comp/2.html'">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-include="'partials/comp/3.html'">
      </div>
      <div class="col-md-4" ng-include="'partials/comp/4.html'">
      </div>
      <div class="col-md-4" ng-include="'partials/comp/5.html'">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-include="'partials/comp/6.html'">
      </div>
    </div>
</div>
